:root {
  --blue: #1992d4;
  --yellow: #facc15;
  --cardYellow: #f0b429;
  --inputBackground: #e2e8f0;
  --circle1Background: #e0f2fe;
  --dog: #f0777d;
  --gray: #a3a3a3;
  --pink: #fda4af;
  --sidebarWidth: 50%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} 

button {
  background-color: var(--blue);
  border: none;
  border-radius: 16px;
  color: #fff;
  font-weight: 700;
  padding: 5px 15px;
}

input {
  border-radius: 16px;
  background-color: var(--inputBackground);
  border: none;
  height: 50px;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--blue);
  height: 100vh;
  width: var(--sidebarWidth);
  color: #fff;
  font-weight: 700;
}

ul li {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5px;
  margin: 20px 0;
}

.settings {
  margin-top: 50px;
}

main {
  margin-left: var(--sidebarWidth);
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--yellow);
}

.projects-grid {
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.card-icons-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 250px;
}

.button-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Hamburger Related */

.d-none {
  display: none;
}

#close {
  color: #fff;
  display: block;
}

.open {
  display: block;
}


@media(min-width: 1000px){

  :root {
    --sidebarWidth: 15%;
  }

  input {
    width: 40vw;
  }

  #menu {
    display: none;
  }

  #close {
    display: none;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }

  main {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-areas: "search-div search-div search-div"
                         "projects projects announce"
                         "projects projects announce"
                         "projects projects trending"
                         "projects projects trending"
    ;
    gap: 20px;
  }

  .projects {
    display: grid;
    grid-area: projects;
  }

  .search-div {
    display: grid;
    grid-area: search-div;
  }

  .search-div-input {
    display: flex;
    align-items: center;
  }

  .morgan-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .profile-wrapper {
    grid-area: b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "l . r";
  }

  .profile-wrapper-left {
    grid-area: l;
    display: flex;
    align-items: center;
  }

  .button-row {
    grid-area: r;
  }

  .search-div-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "t t m"
                          "b b b";
  }

  .morgan-div {
    grid-area: m;
  }

  .top-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .announcements {
    display: grid;
    grid-area: announce;
  }

  .trending {
    display: grid;
    grid-area: trending;
  }


}